menu "Encortec Application Config"

menu "Logging configuration"

    config APP_USING_LOG
        bool "Enable application log printing"
        if APP_USING_LOG
            menuconfig APP_LOG_PRINT_CHANNEL
                bool "Select log printing channel"
                default y
                if APP_LOG_PRINT_CHANNEL
                    config APP_LOG_PRINT_TO_UART
                        bool "Print log to UART"
                        default y
                    config APP_LOG_PRINT_TO_FILE
                        bool "Print log to file"
                        default n
                endif

            menuconfig APP_LOG_LEVEL
                bool "Select log printing level"
                default y
                if APP_LOG_LEVEL
                    config APP_LOG_LEVEL_DBG
                        bool "Log level: debug"
                        default y
                    config APP_LOG_LEVEL_INF
                        bool "Log level: info"
                        default n
                    config APP_LOG_LEVEL_WAR
                        bool "Log level: warning"
                        default n
                    config APP_LOG_LEVEL_ERR
                        bool "Log level: error"
                        default n
                endif

            config APP_LOG_USING_TS
                bool "Enable time stamp in log text"
                default n

            config APP_LOG_BUF_SIZE
                int "Set log buffer size"
                default 512
        endif

endmenu

menu "STM32 Platform"

    choice
        prompt "Select STM32 Platform"
        default SOC_STM32U575VI

        config SOC_STM32U545RE
            bool "SOC_STM32U545RE"
            select SOC_SERIES_STM32U5
            select RT_USING_COMPONENTS_INIT
            select RT_USING_USER_MAIN
            default n

        config SOC_STM32U535VE
            bool "SOC_STM32U535VE"
            select SOC_SERIES_STM32U5
            select RT_USING_COMPONENTS_INIT
            select RT_USING_USER_MAIN
            default n

        config SOC_STM32U575VI
            bool "SOC_STM32U575VI"
            select SOC_SERIES_STM32U5
            select RT_USING_COMPONENTS_INIT
            select RT_USING_USER_MAIN
            default y

    endchoice

endmenu

endmenu
